@media screen and (max-width: 960px) {
  .contacts__main_mail2 {
    font-family: "Bahnschrift", sans-serif;
    color: #deddd7;
    font-size: 22px;
    text-align: center;
    margin-left: -40px; }
  .contacts__main_mail {
    margin-top: 60px;
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin-left: -40px; }
  .contacts__main_title {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 62px;
    text-align: center;
    position: relative;
    margin-left: -40px; }
  .contacts__main_describtion {
    font-family: "Bahnschrift", sans-serif;
    color: #deddd7;
    font-size: 33px;
    text-align: center;
    padding: 11px; }
  .contacts__main_socials {
    margin-top: 60px;
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 44px;
    text-align: center;
    position: relative;
    margin-left: -40px;
    padding: 10px; }
  .contacts__social_title1 {
    text-align: center;
    width: 100%;
    max-width: 280px;
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    z-index: 4; }
    .contacts__social_title1:hover {
      color: #2657e3; }
  .contacts__social_title2 {
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    max-width: 280px;
    z-index: 4; }
    .contacts__social_title2:hover {
      color: #26b4e3; }
  .contacts__social_title3 {
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    max-width: 280px;
    z-index: 4; }
    .contacts__social_title3:hover {
      color: #ea1291; }
  .contacts__social_title4 {
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    max-width: 310px;
    z-index: 4; }
    .contacts__social_title4:hover {
      color: #1fb126; }
  .contacts__social_title5 {
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    max-width: 280px;
    z-index: 4; }
    .contacts__social_title5:hover {
      color: #b938d0; }
  .contacts__social_title6 {
    font-family: "BRITANIC", sans-serif;
    color: #deddd7;
    font-size: 60px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    max-width: 280px;
    z-index: 4; }
    .contacts__social_title6:hover {
      color: #2f9be0; } }
