@media screen and (max-width: 580px) {
  .title_text__hello {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 153px; }
  .title_text__job2 {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 70px; }
  .title_text__name2 {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 76px; }
  .title_text__job3 {
    font-family: "Bahnschrift", sans-serif;
    color: #deddd7;
    font-size: 46px;
    position: relative;
    top: 0px;
    margin-bottom: -21px; }
  .title_text__page2 {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 70px;
    position: relative;
    margin-top: -62px;
    padding-top: 35px;
    padding-bottom: 35px; }
  .title_text__uses2 {
    font-family: "BRITANIC", sans-serif;
    color: #eeb828;
    font-size: 70px;
    position: relative;
    margin-top: -62px;
    padding-bottom: 63px; } }
